*

!*/

solutions/

!*.py
!*.in
!*.txt
!*.hs
!*.jl
!*.bat
!*.cpp
!*.c
!*.h
!*.go
!*.cs
!*.csproj
!*.fsx
!*.fs
!*.png
!*.jpg
!*.zig
!**/rust/**
**/rust/target/
!*.ml
!*.nim
!*.roc
!*.lisp
!*.ex
!*.exs
!*.odin
!*.swift
!*.lua
!*.html
!*.example
!*.mojo
!README.md
